<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Login </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/tabs"> Tienda </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="form">
    <form [formGroup]="loginForm" autocomplete="off" (ngSubmit)="login()">
      <ion-item>
        <ion-label color="primary" position="floating">Email</ion-label>
        <ion-input
          type="text"
          formControlName="email"
          placeholder="Correo electronico"
        ></ion-input>
        <span class="error_message" *ngIf="invalidField('email')">{{
          emailMessageError
        }}</span>
      </ion-item>

      <ion-item>
        <ion-label color="primary" position="floating">Contraseña</ion-label>
        <ion-input
          type="password"
          formControlName="password"
          placeholder="***************"
        ></ion-input>
        <span class="error_message" *ngIf="invalidField('password')">{{
          passwordMessageError
        }}</span>
      </ion-item>

      <ion-button
        *ngIf="!isLoading"
        type="submit"
        expand="block"
        fill="solid"
        shape="round"
      >
        Ingresar
      </ion-button>

      <ion-button
        *ngIf="isLoading"
        type="button"
        expand="block"
        fill="solid"
        shape="round"
        disabled
      >
        <ion-spinner name="bubbles"></ion-spinner>
        Cargando ...
      </ion-button>
    </form>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button routerLink="/auth/register"> Registro </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
