<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Registro </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/tabs"> Tienda </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="form">
    <form [formGroup]="registerForm" autocomplete="off" (ngSubmit)="register()">
      <ion-item>
        <ion-label color="primary" position="floating">Nombre</ion-label>
        <ion-input
          type="text"
          formControlName="name"
          placeholder="Nombre"
        ></ion-input>
        <span class="error_message" *ngIf="invalidField('name')">{{
          nameMessageError
        }}</span>
      </ion-item>

      <ion-item>
        <ion-label color="primary" position="floating">Email</ion-label>
        <ion-input
          type="text"
          formControlName="email"
          placeholder="Correo electronico"
        ></ion-input>
        <span class="error_message" *ngIf="invalidField('email')">{{
          emailMessageError
        }}</span>
      </ion-item>

      <ion-item>
        <ion-label color="primary" position="floating">Contraseña</ion-label>
        <ion-input
          type="password"
          formControlName="password"
          placeholder="***************"
        ></ion-input>
        <span class="error_message" *ngIf="invalidField('password')">{{
          passwordMessageError
        }}</span>
      </ion-item>

      <ion-item>
        <ion-label color="primary" position="floating">Confirmacion</ion-label>
        <ion-input
          type="password"
          formControlName="password2"
          placeholder="***************"
        ></ion-input>
        <span class="error_message" *ngIf="invalidField('password2')">{{
          password2MessageError
        }}</span>
      </ion-item>

      <ion-button
        *ngIf="!isLoading"
        type="submit"
        expand="block"
        fill="solid"
        shape="round"
        [disabled]="registerForm.pending"
      >
        Crear
      </ion-button>

      <ion-button
        *ngIf="isLoading"
        color="secondary"
        type="button"
        expand="block"
        fill="solid"
        shape="round"
        disabled
      >
        <ion-spinner name="bubbles"></ion-spinner>
        Creando...
      </ion-button>
    </form>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button routerLink="/auth/login"> Login </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
