<ion-header>
  <ion-toolbar>
    <ion-title>products</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/settings"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item
      routerLink="/tabs/settings/products/edit/{{ product.id }}"
      *ngFor="let product of products"
      detail
    >
      <ion-item>
        <ion-avatar slot="start" *ngIf="product.images.length > 0">
          <img [src]="product.images[0].url" />
        </ion-avatar>
      </ion-item>
      <ion-label class="ion-text-wrap">
        <ion-text color="primary">
          <h3>{{ product.name }}</h3>
        </ion-text>
        <p>{{ product.description }}</p>
        <ion-text color="secondary">
          <p>{{ product.price }}</p>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/tabs/settings/products/product/new">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
