<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Licorito </ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="!user" routerLink="/auth"> Login </ion-button>
      <ion-button *ngIf="user" (click)="logout()"> Logout </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header color="primary">
      <ion-label>En promocion</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let p of productWithPromotion">
      <ion-label>{{p.name}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header color="primary">
      <ion-label>Lista de productos</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let p of products">
      <ion-label>{{p.name}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
